numpy<2

fastapi==0.111.0
uvicorn[standard]==0.29.0


transformers==4.51.3
accelerate==0.34.2
peft==0.12.0

pillow==10.4.0
qwen-vl-utils==0.0.8

sentencepiece
protobuf
safetensors
einops

requests
python-dotenv